html{
    background: linear-gradient( to left, #111212, #28282e);
    overflow: hidden;
}
.slidecontainer{
    display: flex;
    flex-direction: column;
    height: 25%;
    justify-content: space-around;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

h1{
    font-family: 'Anton';
    color: white;
    letter-spacing: .2em;

}
#jeu{
    width: 80%;
    height: 100%;
}
canvas{
    width: 100%;
    height: 100%;
}
#menu{
    height: 100%;
    width: fit-content;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    /* height: 70%; */
    justify-content: space-between;
    /* margin-block: 36px; */
    margin-bottom: 30px;
}
.text{
    color: white;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  #reset{
    width: 50px;
    border-radius: 20px;
  }

#reset:hover{
    border: 1px solid white;
    border-radius: 20px;
    background-color: #111212;
    color: white;
    transition: 1s ease;
}